<mat-toolbar color="primary" class="container">
  <div></div>
  <div>Andrew's Aquarium</div>
  <div>
    <button mat-button
    (click)="setLogin()">
      <span *ngIf="tokenTrue && loggedInMessage">Log Out</span>
      <span *ngIf="tokenTrue && !loggedInMessage">Log Out</span>
      <span *ngIf="!tokenTrue && loggedInMessage">Log Out</span>
      <span *ngIf="!tokenTrue && !loggedInMessage">Log In</span>
    </button>
  </div>

</mat-toolbar>



<div style="height: 45vh; padding: 10px;">
  <router-outlet></router-outlet>
</div>



