
<div fxLayout="column" fxLayoutGap="30px">

  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlexAlign="center" class="attribute" fxLayoutGap="20px">
      <mat-checkbox
      [(ngModel)]=lightUVOn>
      <b>UV Light</b>
      </mat-checkbox>
    </div>

    <div *ngIf="lightUVOn" fxLayout="column" class="options">
      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Start Time:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=lightUVStartTime [format]="12"
            [controlOnly]="true" [defaultTime]=lightUVStartTime>
          </ngx-timepicker-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Duration:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=lightUVDuration [format]="24"
            [controlOnly]="true" [defaultTime]=lightUVDuration>
          </ngx-timepicker-field>
        </div>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlexAlign="center" class="attribute" fxLayoutGap="20px">
      <mat-checkbox
      [(ngModel)]=lightRefugiumOn>
      <b>Refugium Light</b>
      </mat-checkbox>
    </div>

    <div *ngIf="lightRefugiumOn" fxLayout="column" class="options">
      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Start Time:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=lightRefugiumStartTime [format]="12"
            [controlOnly]="true" [defaultTime]=lightRefugiumStartTime>
          </ngx-timepicker-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Duration:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=lightRefugiumDuration [format]="24"
            [controlOnly]="true" [defaultTime]=lightRefugiumDuration>
          </ngx-timepicker-field>
        </div>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap="20px">
    <div fxFlexAlign="center" class="attribute" fxLayoutGap="20px">
      <mat-checkbox
      [(ngModel)]=gasInjectionOn>
      <b>Gas Injection</b>
      </mat-checkbox>
    </div>

    <div *ngIf="gasInjectionOn" fxLayout="column" class="options">
      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Start Time:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=gasInjectionStartTime [format]="12"
            [controlOnly]="true" [defaultTime]=gasInjectionStartTime>
          </ngx-timepicker-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="center" class="timersTitle">
        Duration:
        </div>
        <div>
            <ngx-timepicker-field [(ngModel)]=gasInjectionDuration [format]="24"
            [controlOnly]="true" [defaultTime]=gasInjectionDuration>
          </ngx-timepicker-field>
        </div>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlexAlign="center" class="attribute" fxLayoutGap="20px">
      <mat-checkbox
      [(ngModel)]=heaterOn>
      <b>Heater</b>
      </mat-checkbox>
    </div>

    <div fxLayout="row" *ngIf="heaterOn" fxLayoutGap="20px" class="options">
      <div fxFlexAlign="center">
      Min Temp: <input matInput type="number" [(ngModel)]=heaterMinTemp type="number" min="70" max={{heaterMaxTemp}}>
      </div>
      <div fxFlexAlign="center">
        Max Temp: <input matInput type="number" [(ngModel)]=heaterMaxTemp type="number" min={{heaterMinTemp}} max="80">
      </div>
    </div>

  </div>


  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlexAlign="center" class="attribute" fxLayoutGap="20px">
      <mat-checkbox
      [(ngModel)]=pumpOn>
      <b>Pump</b>
      </mat-checkbox>
    </div>

    <div fxLayout="row" *ngIf="pumpOn" fxLayoutGap="20px" class="options">
      <div fxFlexAlign="center">
        Pump Power:
        <mat-slider
          thumbLabel=true
          [(ngModel)]=pumpPower
          tickInterval="1"
          min="0"
          max="6">
        </mat-slider>
      </div>
    </div>
  </div>


  <div fxLayoutAlign="center center" >
    <button mat-raised-button
      color="primary"
      (click)="onSave()"
      class="saveButton"
      disabled={{saveDisabled}}>
        Save Changes
    </button>
  </div>

</div>
