.attribute {
  width: 125px;
}

.timersTitle {
  width: 100px;
}

.heaterTemp {
  width: 85px;
}

.options {
  min-width:350px;
}

.saveButton {
  min-width: 125px;
}

.mat-button-toggle {
  width: 100px;
  height: 50px;
  max-height: 50px;
}

.mat-button-toggle-group {
  height: 50px;
  max-height: 50px;
}
